.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 100px;
}

.name {
  color: black;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
